[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HCR"]
	path = HCR
	url = https://github.com/cran/HCR
	shallow = true
	registered = true
